@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
.bg-hero{
  background-image: url(../../public/images/mfm-ijaiye-pics.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
}
.bg-hero1{
  background-image: url(../../public/images/Mountain\ of\ Fire\ and\ Miracles\ Ministry\ Logo\ PNG\ Vector\ \(SVG\)\ Free\ Download.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
}
.pup-btn{
  background-color: purple;
  border-radius: 5px;
  color: white;
  padding: 10px 20px;
}
.org-btn{
  border: 2px solid orangered;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  
}
@media (max-width:600px) {
  .bg-hero{
    background-size: 500px 100vh ;
  }
}